bin
target
.cache
include/SL.def
include/SL-parenthesize.str
include/SL-Permissive.def
include/SL.generated.pp.af
include/SL.packed.esv
include/SL.pp.af
include/SL.rtg
include/SL.str
include/SL.tbl
include/sl.rtree
include/sl.ctree
include/sl.ctree.dep
include/sl.jar
include/sl-java.jar
editor/java/trans
editor/*.generated.*
syntax/SL*.generated.esv
syntax/SL.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen
/include/
