<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="sl"
            description="SL"
            language="SL"
            derivedFrom="DynamicRoot"
            validator="org.metaborg.lang.sl.SLValidator"
            validatorClass="org.metaborg.lang.sl.SLValidator"
      ></language>
   </extension>
   <extension
         id="org.metaborg.lang.sl.parser"
         name="SL Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.metaborg.lang.sl.SLParseController"
            language="SL">
      </parser>
   </extension>    
</plugin>
